*,
*::before, 
*::after { 
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {    
    height: 100vh;
    display: flex;    
    align-items: center;           
}

/*--------------------------------------------------------------------*/

.grid-container {
    border: 1px black solid;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    border-radius: 50%;    
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    background-color: rgb(90, 0, 0);    
    /* clip-path: border-box; */
    gap: 5px;  
}

.grid-item {
    border-radius: 10%;    
    border-right: 1px black solid;
    border-bottom: 1px black solid;
    background-color: red;        
}
